---
export interface Props {
	title: string;
}

import "bootstrap/dist/css/bootstrap.css";
import "../../public/css/style.css";
import "../../public/css/font-awesome.min.css";

import { Image } from "astro:assets";

import jerry from "../../public/img/jerry.jpg";

// load all pins
import aaf from "../../public/img/pins/aaf.png";
import blm from "../../public/img/pins/blm.jpg";
import greens from "../../public/img/pins/greens.png";
import peace from "../../public/img/pins/peace.jpg";
import progressive from "../../public/img/pins/progressive.jpg";

// review profiles
import iman from "../../public/img/profiles/iman.jpeg";
import david from "../../public/img/profiles/david.jpg";
import hola from "../../public/img/profiles/hola.jpg";
import unknown from "../../public/img/unknown.png";
import matteo from "../../public/img/img-testimonial-1.jpg";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Jeremiah Pinto</title>
		<!-- favicon -->
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="/icons/apple-icon-57x57.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="60x60"
			href="/icons/apple-icon-60x60.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="/icons/apple-icon-72x72.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="/icons/apple-icon-76x76.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="/icons/apple-icon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="/icons/apple-icon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="/icons/apple-icon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="/icons/apple-icon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/icons/apple-icon-180x180.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/icons/android-icon-192x192.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="/icons/favicon-96x96.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/icons/favicon-16x16.png"
		/>
		<link rel="manifest" href="/icons/manifest.json" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta
			name="msapplication-TileImage"
			content="/icons/ms-icon-144x144.png"
		/>
		<meta name="theme-color" content="#ffffff" />

		<!-- web-fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700"
			rel="stylesheet"
		/>

		<!-- font-awesome -->
		<link href="" rel="stylesheet" />

		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-FBBE6W9PNR"
		></script>
	</head>
	<body>
		<script>
			//@ts-ignore
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				//@ts-ignore
				dataLayer.push(arguments);
			}
			//@ts-ignore
			gtag("js", new Date());
			//@ts-ignore
			gtag("config", "G-FBBE6W9PNR");
		</script>
		<div id="main-wrapper">
			<header class="header">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<div class="profile-img">
								<Image src={jerry} class="img-fluid" alt="" loading="eager"/>
							</div>
							<!-- Profile Image -->
						</div>
						<div class="col-md-9">
							<div class="name-wrapper">
								<h1 class="name">Jeremiah Pinto</h1>
								<span
									>Master of Professional Engineering
									(Software)</span
								>
							</div>
							<p>
								A dedicated and hardworking individual with a
								passion for technology and a love for people. I
								have a strong background in software engineering
								and have worked on a variety of projects ranging
								from web development to machine learning.
								<br />
								<br /> My peers and mentees know me for clarity of
								thought and my ability to communicate complex ideas
								in a simple manner. I have a strong work ethic and
								am always looking to improve myself. I am a team
								player and have experience working in teams of various
								sizes. I am also a quick learner and have a strong
								foundation in computer science and software engineering
								principles.
							</p>

							<div class="row">
								<div class="col-md-3">
									<div class="personal-details">
										<strong>SEPTEMBER 27</strong>
										<!--  1996 -->
										<small>BIRTHDAY</small>
									</div>
								</div>
								<div class="col-md-3">
									<div class="personal-details">
										<strong>PERTH, AUSTRALIA</strong>
										<small>RESIDENCE</small>
									</div>
								</div>
								<div class="col-md-6">
									<div class="personal-details">
										<strong
											>ENGLISH
											<span>(NATIVE)</span>, FRENCH
											<span>(INTERMEDIATE)</span>, HINDI
											<span>(NATIVE)</span>
										</strong>
										<small>LANGUAGE</small>
									</div>
								</div>
							</div>

							<ul class="social-icon">
								<li>
									<a
										href="https://www.facebook.com/jeremiah.pinto.507"
									>
										<i
											class="fa fa-facebook"
											aria-hidden="true"></i>
									</a>
								</li>
								<li>
									<a
										href="https://www.linkedin.com/in/jeremiah-pinto/"
									>
										<i
											class="fa fa-linkedin"
											aria-hidden="true"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</header>
			<!-- .header-->

			<section class="section-wrapper"></section>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2></h2>
						</div>
					</div>
					<div class="container row align-items-center col-md-9">
						<div class="col-md-2">
							<div class="pin text-center">
								<Image
									width={100}
									src={aaf}
									alt="pin"
									class="img-fluid"
									style="width: 100px;"
								/>
							</div>
						</div>
						<div class="col-md-2">
							<div class="pin text-center">
								<Image
									width={100}
									src={blm}
									alt="pin"
									class="img-fluid"
									style="width: 100px;"
								/>
							</div>
						</div>
						<div class="col-md-2">
							<div class="pin text-center">
								<Image
									width={100}
									src={greens}
									alt="pin"
									class="img-fluid"
									style="width: 100px;"
								/>
							</div>
						</div>
						<div class="col-md-2">
							<div class="pin text-center">
								<Image
									width={100}
									src={peace}
									alt="pin"
									class="img-fluid"
									style="width: 100px;"
								/>
							</div>
						</div>
						<div class="col-md-2">
							<div class="pin text-center">
								<Image
									width={100}
									src={progressive}
									alt="pin"
									class="img-fluid"
									style="width: 100px;"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="section-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2>My Activity</h2>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-sm-3">
								<div class="item-stats">
									<div class="item-stats-value">100%</div>
									<div class="item-stats-name">
										Jobs Success
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="item-stats">
									<div class="item-stats-value">90%</div>
									<div class="item-stats-name">On Budget</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="item-stats">
									<div class="item-stats-value">94%</div>
									<div class="item-stats-name">On Time</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="item-stats">
									<div class="item-stats-value">89%</div>
									<div class="item-stats-name">
										Repeat Hire Rate
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- .activity-wrapper -->

		<section class="work-history-wrapper section-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2>Work History</h2>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-sm-3">
								<div class="item-stats">
									<div class="item-stats-value">5+</div>
									<div class="item-stats-name">
										years of experience
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="item-stats">
									<div class="item-stats-value">$2M</div>
									<div class="item-stats-name">
										Value created
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="item-stats">
									<div class="item-stats-value">30+</div>
									<div class="item-stats-name">
										Engineers trained
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="item-stats">
									<div class="item-stats-value">8</div>
									<div class="item-stats-name">
										Hour Response Time
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- .work-history-wrapper -->

		<section class="expertise-wrapper section-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2>My Specialities</h2>
						</div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-6">
								<div class="expertise-item">
									<h3>Cooking</h3>

									<p>
										Whether it be 2 minute noodles or Pad
										Thai. Over the last many years of living
										alone, I have learnt how to cook for
										myself and my friends a fair bit. My
										cooking will not disappoint as long as
										you give me a recipe.
									</p>
								</div>
							</div>
							<div class="col-md-6">
								<div class="expertise-item">
									<h3>Philosophy</h3>

									<p>
										From spending time discussing critical
										issues ranging from religion to global
										warming to the flat earth theory at
										bars, I am a person, some may call a
										hobby philosopher
									</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="expertise-item">
									<h3>Management</h3>

									<p>
										From years of self management and
										managing teams, I consider a
										relationship to be a partnership that
										needs to be managed effectively in order
										for both parties to thrive, I'll try my
										best to manage expectations.
									</p>
								</div>
							</div>

							<div class="col-md-6">
								<div class="expertise-item">
									<h3>Connoisseur of various things...</h3>

									<p>
										From alcohol and food to movies and
										games, I have experienced a lot over
										that past 22 years of living and I'd
										like to share these with you.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .row -->
			</div>
		</section>
		<!-- .expertise-wrapper -->

		<section class="section-wrapper skills-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2>Skills</h2>
						</div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-6">
								<div class="progress-wrapper">
									<h3>S . P . E . C . I . A . L .</h3>

									<div class="progress-item">
										<span class="progress-title"
											>STRENGTH</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="30"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 30%"
											>
												<span class="progress-percent"
													>30%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>PERCEPTION</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="80"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 80%"
											>
												<span class="progress-percent"
													>80%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>ENDURANCE</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="70"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 70%"
											>
												<span class="progress-percent"
													>70%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>CHARISMA</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="90"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 90%"
											>
												<span class="progress-percent"
													>90%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>INTELLIGENCE</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="35"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 35%"
											>
												<span class="progress-percent"
													>35%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>AGILITY</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="45"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 45%"
											>
												<span class="progress-percent"
													>45%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title">LUCK</span>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="75"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 75%"
											>
												<span class="progress-percent"
													>75%</span
												>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="progress-wrapper">
									<h3>LEVELS</h3>

									<div class="progress-item">
										<span class="progress-title"
											>BARTER</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="80"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 80%"
											>
												<span class="progress-percent"
													>80%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>GAMBLING</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="60"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 60%"
											>
												<span class="progress-percent"
													>60%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>SPEECH</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="75"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 75%"
											>
												<span class="progress-percent"
													>75%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>SCIENCE</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="75"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 75%"
											>
												<span class="progress-percent"
													>75%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>GAMING</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="75"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 75%"
											>
												<span class="progress-percent"
													>75%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title"
											>TECHNOLOGY</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="90"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 90%"
											>
												<span class="progress-percent"
													>90%</span
												>
											</div>
										</div>
									</div>

									<div class="progress-item">
										<span class="progress-title">MAGIC</span
										>

										<div
											class="progress"
											role="progressbar"
											aria-valuenow="10"
											aria-valuemin="0"
											aria-valuemax="100"
										>
											<div
												class="progress-bar"
												style="width: 10%"
											>
												<span class="progress-percent"
													>10%</span
												>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- .container-fluid -->
		</section>
		<!-- .skills-wrapper -->

		<section class="section-perks section-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2>Perks</h2>
						</div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div class="content-item">
									<h3>Lady Killer</h3>
									<p>
										+10% damage to the opposite sex and
										unique dialogue options with certain
										characters.
									</p>
								</div>
								<!-- .perk-item -->

								<div class="content-item">
									<h3>Educated</h3>
									<p>
										You gain two more skill points every
										time you advance in level.
									</p>
								</div>
								<!-- .perk-item -->

								<div class="content-item">
									<h3>Animal Friend</h3>
									<p>
										On 1st rank, hostile animals become
										friendly. On 2nd rank they come to your
										aid against enemies except against other
										animals.
									</p>
								</div>
								<!-- .perk-item -->

								<div class="content-item">
									<h3>Friend of the Night</h3>
									<p>
										Your eyes adapt quickly to low-light
										conditions.
									</p>
								</div>
								<!-- .perk-item -->

								<div class="content-item">
									<h3>Night Person</h3>
									<p>
										+2 Intelligence and +2 Perception
										between 6:00 P.M. and 6:00 A.M.
									</p>
								</div>
								<!-- .perk-item -->

								<div class="content-item">
									<h3>Nerd Rage!</h3>
									<p>
										+15 DT and Strength increased to 10
										whenever health is 20% or lower.
									</p>
								</div>
								<!-- .perk-item -->
							</div>
						</div>
						<!--.row-->
					</div>
				</div>
				<!--.row-->
			</div>
			<!-- .container -->
		</section>
		<!-- .section-perks -->

		<section class="section-education section-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2>Work Experience</h2>
						</div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div class="content-item">
									<small>2018 - 2020</small>
									<h3>Software Engineer</h3>
									<h4>Envited</h4>
									<p>Perth, Australia</p>
								</div>

								<!-- .experience-item -->
								<div class="content-item">
									<small>2020 - 2023</small>
									<h3>Web Developer</h3>
									<h4>Spacetoco</h4>
									<p>Perth, Australia</p>
								</div>

								<!-- .experience-item -->
							</div>
						</div>
						<!--.row-->
					</div>
				</div>
				<!--.row-->
			</div>
			<!-- .container -->
		</section>
		<!-- .section-education -->

		<section class="section-education section-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2>Education</h2>
						</div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div class="content-item">
									<small>2016 - 2021</small>
									<h3>
										Master of Professional Engineering
										(Software Engineering)
									</h3>
									<h4>The University of Western Australia</h4>

									<p>Perth, Australia</p>
								</div>

								<!-- .experience-item -->
								<div class="content-item">
									<small>2010 - 2014</small>
									<h3>High School Graduation</h3>
									<h4>ICS</h4>

									<p>Kuwait</p>
								</div>
								<!-- .experience-item -->
							</div>
						</div>
						<!--.row-->
					</div>
				</div>
				<!--.row-->
			</div>
			<!-- .container -->
		</section>
		<!-- .section-education -->

		<section class="review-section section-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2>Recent Reference Check</h2>
						</div>
					</div>

					<div class="col-md-9">
						<div id="review">
							<div class="item">
								<div class="media">
									<div class="media-left">
										<Image
											width={100}
											class:list={"img-fluid"}
											src={iman}
											alt="avatar"
										/>
									</div>

									<div class="media-body">
										<div class="user-name">Iman Kareem</div>
										<!--.user-name-->

										<div
											class="rating"
											data-star_rating="5.0"
										>
											<div class="rating-total">
												<!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
												<div
													class="rating-progress rate-5"
												>
												</div>
											</div>
										</div>
										<!--.rating-->
									</div>
								</div>

								<div class="review-text">
									He has taught me so much about software
									sales. His deep understanding of the product
									and the customer's needs is unparalleled. He
									managed to teach me complex Cisco products
									in a way that was easy to understand. He is
									a great mentor and I am grateful for the
									time I spent working with him.
								</div>
								<!--.review-text-->
							</div>
							<!--.item-->

							<div class="item">
								<div class="media">
									<div class="media-left">
										<Image
											width={100}
											class:list={"img-fluid"}
											src={matteo}
											alt="avatar"
										/>
									</div>

									<div class="media-body">
										<div class="user-name">
											Matteo Müller
										</div>
										<!--.user-name-->

										<div
											class="rating"
											data-star_rating="5.0"
										>
											<div class="rating-total">
												<!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
												<div
													class="rating-progress rate-5"
												>
												</div>
											</div>
										</div>
										<!--.rating-->
									</div>
								</div>
								<div class="review-text">
									Most creative dungeons and dragons player in
									the group. He can create worlds so vivid,
									that one feels as if they are living in
									them.
								</div>
								<!--.review-text-->
							</div>
							<!--.item-->

							<div class="item">
								<div class="media">
									<div class="media-left">
										<Image
											width={100}
											class:list={"img-fluid"}
											src={david}
											alt="avatar"
										/>
									</div>

									<div class="media-body">
										<div class="user-name">David</div>
										<!--.user-name-->

										<div
											class="rating"
											data-star_rating="5.0"
										>
											<div class="rating-total">
												<!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
												<div
													class="rating-progress rate-5"
												>
												</div>
											</div>
										</div>
										<!--.rating-->
									</div>
								</div>
								<div class="review-text">
									A great guy, he organised great events and
									team building activities.
								</div>
								<!--.review-text-->
							</div>
							<!--.item-->

							<div class="item">
								<div class="media">
									<div class="media-left">
										<Image
											width={100}
											class:list={"img-fluid"}
											src={unknown}
											alt="avatar"
										/>
									</div>

									<div class="media-body">
										<div class="user-name">
											Jason Lehmann
										</div>
										<!--.user-name-->

										<div
											class="rating"
											data-star_rating="5.0"
										>
											<div class="rating-total">
												<!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
												<div
													class="rating-progress rate-5"
												>
												</div>
											</div>
										</div>
										<!--.rating-->
									</div>
								</div>
								<div class="review-text">
									Truely the best president we've had at CFC.
									He's organized and networked. For the first
									time, we are thriving as a club.
								</div>
								<!--.review-text-->
							</div>
							<!--.item-->

							<div class="item">
								<div class="media">
									<div class="media-left">
										<Image
											width={100}
											src={hola}
											class:list={"img-fluid"}
											alt="avatar"
										/>
									</div>

									<div class="media-body">
										<div class="user-name">Sophie</div>
										<!--.user-name-->

										<div
											class="rating"
											data-star_rating="5.0"
										>
											<div class="rating-total">
												<!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
												<div
													class="rating-progress rate-5"
												>
												</div>
											</div>
										</div>
										<!--.rating-->
									</div>
								</div>
								<div class="review-text">
									He's a great engineer, he had my back on
									every complex project we worked on. He's a
									great team player and a great friend.
								</div>
								<!--.review-text-->
							</div>
							<!--.item-->
						</div>
						<!--#review-->
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</section>
		<!-- .review-section -->

		<section class="section-contact section-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="section-title">
							<h2>Contact</h2>
						</div>
					</div>

					<div class="col-md-9">
						<div class="row">
							<div class="col-md-3">
								<address>
									<strong>Location</strong>
									<br /> Nedlands
									<br /> PERTH
								</address>
							</div>
							<div class="col-md-3">
								<address>
									<strong>Mobile Number</strong>
									<br />
									<a href="tel:+61416446950"
										>+61 416 446 950</a
									>
								</address>
							</div>
							<div class="col-md-3">
								<address>
									<strong>Email</strong>
									<br />
									<a href="mailto:#"
										>jeremiahpinto@gmail.com</a
									>
								</address>
							</div>
						</div>
						<!--.row-->

						<div class="feedback-form">
							<h3>GET IN TOUCH</h3>

							<form id="contactForm" onsubmit="sendEmail()">
								<div class="form-group">
									<input
										type="text"
										name="name"
										required=""
										class="form-control"
										id="InputName"
										placeholder="Full Name"
									/>
								</div>
								<div class="form-group">
									<input
										type="email"
										name="email"
										required=""
										class="form-control"
										id="InputEmail"
										placeholder="Email"
									/>
								</div>
								<div class="form-group">
									<input
										type="text"
										name="subject"
										class="form-control"
										id="InputSubject"
										placeholder="Subject"
									/>
								</div>
								<div class="form-group">
									<textarea
										class="form-control"
										rows="4"
										required=""
										name="message"
										id="message-text"
										placeholder="Write message"></textarea>
								</div>

								<button type="submit" class="btn btn-primary"
									>Submit</button
								>
							</form>
						</div>
						<!-- .feedback-form -->
					</div>
				</div>
				<!--.row-->
			</div>
			<!--.container-fluid-->
		</section>
		<!--.section-contact-->

		<footer class="footer">
			<div class="copyright-section">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="copytext">
								&copy; Jeremiah Pinto, All rights reserved |
								Design By:
								<a href="https://themehippo.com">themehippo</a>
							</div>
						</div>
					</div>
					<!--.row-->
				</div>
				<!-- .container-fluid -->
			</div>
			<!-- .copyright-section -->
		</footer>
		<!-- .footer -->
	</body>
	<!-- #main-wrapper -->
</html>
